= render "./layouts/groups"
.messages
  .messages__group
    .messages__group--left
      .messages__group--name
        = @group.name
      .messages__group--members
        Members: 
        - @group.users.each do |user|
          = user.name
    =link_to edit_group_path(@group) do
      .messages__group--edit
        Edit
  .messages__message
    = render @messages
  .messages__post
    = form_for [@group, @message], html: {class: 'input-box'} do |f|
      = f.text_field :message, class: 'messages__post--textbox', placeholder: "type a message"
      = f.label :image, class: 'messages__post--image' do
        = fa_icon 'image'
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'messages__post--send'